.table{



    .cellWrapper{
        display: flex;
        align-items: center;
        
        .image{
            width: 32px;
            height: 32;
            border-radius: 20px;
            margin-right: 10px;
            object-fit: cover;
        }
    }

    .status{
        padding: 5px;
        border-radius: 5px;
        &.Approved{
            color: green;
            background-color: rgba(144, 238, 144, 0.1);
        }
        &.Pending {
            color: goldenrod;
            background-color:rgba(255, 255, 0, 0.1);
        }
    }
}