.datatable{
    padding: 20px;
    height: 500px;


    .datatableTitle{
        width: 100%;
        font-style: 24px;
        color: gray;
        margin-bottom: 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .link{
            text-decoration: none;
            color: green;
            font-style: 16px;
            font-weight: 400;
            border: 1px solid green;
            padding: 5px;
            border-radius: 5px;
            cursor: pointer;
        }
    }


    .cellWithImg{
        display: flex;
        align-items: center;



        .cellImg{
            width: 32px;
            height: 32px;
            border-radius: 50%;
            object-fit: cover;
            margin-right: 20px;
        }
    }


    .cellWithStatus{
        padding: 5px;
        border-radius: 5px;


        &.Active{
            color: green;
            background-color: rgba(144, 238, 144, 0.592);

        }
        &.Pending{
            color: goldenrod;
            background-color:rgba(255, 255, 0, 0.337);
        }
        &.Passive{
            color: red;
            background-color: rgba(240, 128, 128, 0.416);
        }
    }

    .cellAction{
        display: flex;
        align-items: center;
        gap: 15px;



        .viewButton{
            padding: 2px 5px;
            border-radius: 5px;
            color: darkblue;
            border: 1px solid rgba(0, 0, 139, 0.379);
            cursor: pointer;
        }
        .deleteButton{
            padding: 2px 5px;
            border-radius: 5px;
            color: crimson;
            border: 1px solid rgba(220, 20, 60, 0.325);
            cursor: pointer;
        }
    }
}